#contact {
    background: black;
}

.contact {
    position: relative;
    font-family: sans-serif;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.contact .getintouch {
    margin: 0px;
    max-width: 800px;
    text-align: center;
}

.contact .getintouch h1 {
    margin: 0px;
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
}

.contact .getintouch p {
    font-size: 20px;
    margin: 0px;
    font-weight: 300;
    color: whitesmoke;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box .email h3 {
    margin-bottom: 4px;
    margin-top: 8px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .email p {
    margin-top: 4px;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .phone h3 {
    margin-bottom: 4px;
    margin-top: 8px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .phone p {
    margin-top: 4px;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .address h3 {
    margin-bottom: 4px;
    margin-top: 8px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .address p {
    margin-top: 4px;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.link {
    color: whitesmoke;
    text-decoration: none;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    color: #51cefc;
    background: darkblu;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactinfo .box .icon:hover {
    color: black;
    background: #51cefc;
}

.contactFrom {
    width: 40%;
    padding: 30px;
    background: white;
}

.contactFrom h2 {
    font-size: 24px;
    color: dimgrey;
    font-weight: 500;
}

.contactFrom .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactFrom .inputBox input,
.contactFrom .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #696969;
    outline: none;
    resize: none;
}

.contactFrom .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #6666;
}

.contactFrom .inputBox input:focus~span,
.contactFrom .inputBox input:valid~span,
.contactFrom .inputBox textarea:focus~span,
.contactFrom .inputBox textarea:valid~span {
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactFrom .inputBox input[type="submit"] {
    width: 100px;
    background: #51cefc;
    color: black;
    border: thin;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactFrom .inputBox input[type="submit"]:hover {
    color: whitesmoke;
    background: black;
}


/* Media Queries */

@media screen and (max-width: 1080px) {
    .contact {
        padding: 50px;
        height: 100vh;
    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactFrom {
        width: 80%;
    }
    .container .contactinfo .box {
        justify-content: center;
    }
    .container .contactinfo .box .email p {
        width: 150%;
        font-size: 18px;
    }
    .container .contactinfo .box .phone p {
        width: 150%;
        font-size: 18px;
    }
    .container .contactinfo .box .address p {
        width: 150%;
        font-size: 18px;
    }
}

@media screen and (max-width: 770px) {
    .contact {
        padding: 50px;
        height: 100vh;
    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo {
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactFrom {
        width: 100%;
    }
    .container .contactinfo .box {
        justify-content: center;
    }
    .container .contactinfo .box .email p {
        width: 150%;
        font-size: 14px;
    }
    .container .contactinfo .box .phone p {
        width: 150%;
        font-size: 14px;
    }
    .container .contactinfo .box .address p {
        width: 150%;
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {
    .contact {
        display: block;
        height: 100%;
    }
    .container {
        display: block;
    }
    .container .contactinfo {
        margin-bottom: 20px;
    }
    .contactinfo,
    .contactFrom {
        margin-left: -12%;
        width: 125%;
    }
    .container .contactinfo .box {
        justify-content: center;
    }
    .container .contactinfo .box .email p {
        width: 125%;
        font-size: 14px;
    }
    .container .contactinfo .box .phone p {
        width: 125%;
        font-size: 14px;
    }
    .container .contactinfo .box .address p {
        width: 125%;
        font-size: 14px;
    }
}
