/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}


/* Primary Color: #51cefc */


/* Accent Color: #ff00ff */


/* Contrast Color: #3555e6 */


/* Nav-Bar */

.navbar {
    margin: 0;
}

.bg-cc {
    background-color: #51cefc;
}

.active {
    background-color: #000000;
}

.navbar-nav li {
    padding-left: 0px;
}

.nav-item {
    font-weight: 600;
    opacity: 1;
}

.nav-item .active {
    opacity: 1;
}

.search-btn-cc {
    text-decoration: none;
    border: 0.8px solid #000000;
    display: inline-block;
    color: #000000;
    background-color: transparent;
}


/* Social Icons - Footer */

.social-links {
    display: block;
    position: relative;
    left: -41%;
    z-index: 2;
    text-align: center;
}

.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    border: 1px #000000;
    border-radius: 50%;
    margin: 20px 5px 0;
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fa:hover {
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
    transform: translateY(-9px);
}

.social-links p {
    font-size: 18px;
    margin-top: 10px;
}


/* Footer */

.footer-img {
    max-width: 140px;
    opacity: 0.6;
    left: 50%;
    z-index: 1;
    margin-top: 5%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.footer h3 {
    padding-top: 1%;
}

@media screen and (max-width: 1920px) {
    .navbar-nav li {
        padding-left: 0px;
    }
    .social-links {
        left: -44%;
    }
    .footer-img {
        margin-top: 4%;
    }
}

@media screen and (max-width: 1440px) {
    .social-links {
        left: -41%;
    }
    .footer-img {
        margin-top: 5.5%;
    }
}

@media screen and (max-width: 1280px) {
    .footer-img {
        margin-top: 6%;
    }
}

@media screen and (max-width: 1024px) {
    .social-links {
        left: -39%;
    }
    .footer-img {
        max-width: 135px;
        margin-top: 7.5%;
    }
}

@media screen and (max-width: 770px) {
    .navbar-nav li {
        padding-left: 10px;
    }
    .social-links .fa {
        margin: 0;
    }
    .social-links {
        left: -35%;
    }
    .footer-img {
        max-width: 100px;
        margin-top: 9.5%;
    }
}

@media screen and (max-width: 540px) {
    .social-links {
        left: -30%;
    }
    .footer-img {
        max-width: 100px;
        margin-top: 19%;
    }
}